/* input#images{display: none;} */
/* #sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: 300px;
} */

.list_img li {
    margin: 3px 3px 3px 0;
    float: left;
    width: 100px;
    text-align: center;
    position: relative;
    background-color: #ffffff;
}
.list_img,
.list_img img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.list_img div.order-number {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 15px;
    heigth: 15px;
    background-color: #2b91e3;
    color: #ffffff;
    font-size: 12px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
